body {
  margin: 0;
  text-align: center;
  font-size: 16px;
}
.page,
.container {
  // padding:12px;
  border:1px solid #999;
  // display:inline-block;
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
  width:100%;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  border:1px solid #ccc;
  // margin: 0 auto;
  padding: 0;
  display: block;
}
#branding {
  padding: 2px;
}
#nav {
  padding: 2px;
  background:#eee;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.arrow {
    float: right;
    width: 0px;
    height: 0px;
    margin-top: 23px;
    border: 10px solid transparent;
    margin-top: 21px;
    border-top-color: #F3F3F3;
}
.accordion-head.open .arrow {
    margin-top: 11px;
    border-bottom-color: #F3F3F3;
    border-top-color: transparent;
}
.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
